{%extends 'blog/base.html'%}
{%block content%}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">
  <div class="media-body">
    <div>{%if user == object.author %}
          <a class="btn btn-outline-secondary" href="{%url 'post-update' object.id%}">update</a>
          <a class="btn btn-outline-danger" href="{%url 'post-delete' object.id%}">Delete</a>
    {%endif%}
    </div>
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ object.author }}</a>
      <small class="text-muted">{{ object.datePosted| date:"F,d,Y"}}</small>
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content }}</p>
  </div>
</article>
{%endblock%}